@{
    ViewBag.Title = "ErrorPage";
}
<br /><br /><br />
<h3 style="color : darkred">Error</h3>
<h4>It went wrong. Try again.</h4>
<br /><br />
@Html.ActionLink("Go Home", "Index", "Home", new { area = "" }, new { @class = "btn btn-warning" })

